@media screen and (max-width: 1280px) {
   .search,
   .galery,
   .block1,
   footer#footer,
   section.block1
   {
      display: none;
   }

   .wrapper{
      max-width: 320px;
      margin: 0 auto;   
   }

   .top-line {
      padding: 30px 10px 10px 10px;
      background: #A0A0A0FF;
      position: relative;
   }
   .top-line__burger {
      background: url(../img/burger.Back.svg);
   }
   .top-line__list {
      align-items: center;
      position: absolute;
      top: 70px;
   }
   .top-line__item {
   }
   .top-line__link {
   }
   .logo__link {
   }
 
   .logo__img {
      display: none;
   }
   .adres {
      display: none;
   }
   .fas {
   }
   .fa-map-marker-alt {
   }
   .icons {
   }
   .icons__item {
   }
   .far {
   }
   .fa-heart {
   }
   .fa-user {
   }
   .fa-shopping-cart {
   }
   .nav {
      height: 53px;
      box-sizing: border-box;
   }
   .nav-list {

   }
   .nav-item {
      display: none;
   }
   .nav-link {
   }
   .nav-item{
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
      letter-spacing: 0em;

   }

   .nav-item:nth-child(n+4){
      display: none;
   }


 {
    display: none;
}


.top-line__burger{
   display: block;
   background: url(../img/header/burger.svg);
}

.main-page {
}
.page__wrapper {
   flex-direction: column-reverse;
}
.page__slide-list {
   display: none;
   max-width: 320px; 
}
.page__slide-list-wraper {
}
.page__slide-item {
   padding: 0;
}
.page__slide-text {
   display: none;
}
.page__slide-bullet {
}
.deal-card {
   max-width: 320px;
}
.deal-card__cost {
}
.fas {
}
.fa-ruble-sign {
}
.ruble-grey {
}
.block {
}
.number {
}
.deal-card__img {
}
.deal-card__title {
}
.deal-card__text {
}
.deal-card__date {
}





#footer{
   display: none;
}  
.wrapper {
}
.footer__inner {
}
.footer__email {
}
.email__title {
}
.email__search {
}
.footer__list {
}
.footer__item {
}
.footer__link {
}
.footer__social {
}
.footer__item-icons {
}
.footer__icons {
}
.fab {
}
.fa-instagram {
}
.fa-vk {
}
.fa-facebook {
}
.fa-youtube {
}

}


@media screen and (min-width: 1280px){
      .top-line__burger{
         display: none;
      }
}